
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row d-flex justify-content-center">
    <div class="col-md-4" p-4>
        <div class="box box-primary " style="box-shadow: 5px 5px 5px 10px lightgray;">
            <div class="box-body">
                <input type="text" id="TxtId" hidden />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" id="DivMaster">
                            <label for="">Contry </label>
                            <select name="" id="TxtContryName" class="form-control">
                                <option selected="" value="">--Select Contry--</option>
                                @Html.Raw(ViewBag.ContryModelList)
                            </select>
                            @*<span class="help-block" id="ErrorLocationName"></span>*@
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" id="DivMaster">
                            <label for="">State</label>
                            <select name="" id="TxtStateName" class="form-control">
                               <option selected="" value="">--Select State--</option>
                                @*@Html.Raw(ViewBag.StateModelList)*@
                            </select>
                            <span class="help-block" id="LoadingProcess"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" id="DivMaster">
                            <label for="">City </label>
                            <select name="" id="TxtCityName" class="form-control">
                                <option selected="" value="">--Select City--</option>
                                @*@Html.Raw(ViewBag.CityModelList)*@
                            </select>
                            @*<span class="help-block" id="ErrorLocationName"></span>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section LocalJS{
    <script src="~/PageJS/State.js"></script>
    <link href="~/CustomCSS/Emp.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js" />
    <script src="~/CustomCSS/bootstrap.min.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/fontawesome/fontawesome.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

}